/data
/venv
/models
/my_dir
/gemischtesModel
/cnn_tuning
/cnn_softmax
/lstm_tuner
/tfjs_model_cnn
/untitled_project
/masterthesisenv
*.h5
/.clj-kondo
/.ipynb_checkpoints
/.lsp
/.neptune
/web_model
/logs/fit/20240923-000924